<div class="box">

<%= form_for @customer do |f| %>

	<% if @customer.errors.any? %>
		<div style ="color:red;">
<%# we entere here if there has been any validation error %>
		<% @customer.errors.full_messages.each do |message| %>
			<%= message %>
		<% end %>
		</div>
	<% end %>


	<%=f.label :name %>
	<%=f.text_field :name, placeholder: "Customer name" %>
		<%= f.select :city_id, City.all.collect{ |c| ["#{c.name} (#{c.short_name})", c.id]} %>
	<%= f.submit %>
<% end %>

</div>




