<!DOCTYPE html>
<html>
<head>
  <title>Ironhack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
	 <h1> my awesomeeee website </h1>
	

<%= yield %> 

<img>
<%=image_tag 'train.jpg' %>
</img>
</div>
</body>
</html>
